# Toast UI Editor(@toast-ui/react-editor)가 React 19를
# 공식 지원하지 않아 npm install 시 Peer Dependency
# 충돌 오류가 발생할 수 있음.
#
# npm ERR! ERESOLVE unable to resolve dependency tree
#
# 팀원 간 동일한 개발 환경에서 의존성 설치가 가능하도록
# legacy-peer-deps 옵션을 활성화

legacy-peer-deps=true